<p id="notice"><%= notice %></p>
<%= form_for @organisation do |f| %>
  <% if @organisation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@organisation.errors.count, "error") %> prohibited this organisation from being saved:</h2>
      <ul>
        <% @organisation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Name of organisation" %><br/>
    <%= f.text_field :name , autofocus: true%>
  </div>

  <div class="field">
    <%= f.label :description, "Description of Organisation" %><br/>
    <%= f.text_field :description %>
  </div>
  <%= f.fields_for :users do |user| %>
    <div class="field">
      <%= user.label :email, "admin email" %><br/>
      <%= user.email_field :email, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= user.label :password %> <br/>
      <%= user.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= user.label :password_confirmation %><br/>
      <%= user.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <%= user.hidden_field :role, :value => "admin" %>
  <% end %>

  <div class="actions my-2">
    <span class="bg-blue-500 py-2 px-4 text-white no-underline">
    <%= f.submit "Sign up" %>
    </span>
  </div>
<% end %>